.bottom{
    width: 100%;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.bottom h4{
    margin: 10px;
    color: #ddd;
    line-height: 30px;
}

.bottom p{
    margin: 10px;
    line-height: 30px;
    color: #807c7c;
}

