




/* ################################################# */

.form3{
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: white;
    margin-block: 20px;
    /* border: 1px solid rgb(147, 143, 143); */
    
} 
    /* -------------------------------------------- */
    .form3 .two{
        position: relative;
        border-bottom: 1px solid rgb(147, 143, 143);
        border-radius: 8px;
    }
        .form3 .two .two_all .tow_top{
            background-color:rgb(250, 236, 218);
            position: relative;
            height: 40px;
            border-radius: 8px 8px 0 0;
        }
        .form3 .two .two_all .tow_top button{
            background-color:rgb(250, 236, 218);    
            position: absolute;
            top: 10px;
            left: 10px;
            border: 1px solid red;
            color: red;
            border-radius: 5px;
        }
        .form3 .two .two_all .tow_top p{ 
            position: absolute;
            top: 13px;
            left: 150px;

        }
    
        
 /* ################################################# */


.product_price del{
    color: rgb(133, 130, 130);
    font-size: 15px;
    display: inline-block;
    padding-right:13px;
    padding-left: 3px;
    padding-bottom: 10px;
}
.product_price p{
    margin-top: 3px;
    font-size: 25px;
    color: red;
}

.product_price small a{
    margin: 7px;
    text-decoration: none;
    color: white;
}

.product_color p{
    font-weight: bold;
}
.product_color .color span{
    display: inline-block;
    /* background-color: aqua ; */
    border: 1px solid rgb(147, 143, 143);
    width: 70px;
    height:auto;
    border-radius: 3px;
    margin: 5px;

}

.product_color .color span a{
    
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product_quantity .upanddown{
    display: inline-block;
}
.product_quantity p{
    font-weight: bold;   
}
.product_quantity .input-qty{
    
    background-color:#fff;
    width: 37px;
    height:28.5px;
    text-align:center;
    display:inline-block;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;

}
.product_quantity .upanddown_left{
    padding-bottom: 0px;
    width: 30px;
    height: 30px;
    background-color:#f9f9f9;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
th.quantity{
    width: 200px;
}
th.delete{
    width: 100px;
}
/* phan form va thanh toan */

.all{
    display: flex;
    margin-bottom: 20px;
}
.thongtin{
    width: 50%;
    background-color:#fff;
    margin-right: 5px;
}
/* pahn form */


.form{
    width: 100%;
    height: auto;
    font-weight:700;
    border-radius: 5px;
    background-color: white
}
.form form{
    margin: 20px;
}
.form-control{
    width: 98%;
    
}
label{
    font-variant: small-caps;
    
}
.button{
    margin-right: 5px ;

}
.button:hover{
    filter: opacity(70%);
}

label{
    color: goldenrod;
}

.thanhtoan{
    /* background-color: #fff;   */
    width: 50%;
    margin-left: 5px;
    background-color:#fff;
}
/* tinh tien */
.column-25{
   margin: 20px;
}

.box{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
    margin-inline: 10px;
}
.input1{
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD;
    outline:none;
    padding: 5px 10px;
    border: none;
}
button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    border: none;
}
.group-input input{
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;
    max-width: 75%;
    margin-right: -5px;
    margin-block:10px ;
}
.group-input button{
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
    max-width: 25%;
    min-width: 70px;
    box-shadow: 0 0 2px blue;
    margin-block:10px ;
}
.button-white{
    background-color: white;
    box-shadow: 0 0 5px #DDD;
    color: #333;
}
.img-td{
    width: 150px;
}
table{
    width: 100%;
}
table th{
    text-align: left;
}
table td{
    padding-inline: 5px ;
}
.tinhtien{
    width: 40%;
    float: left;
    
}
.tinhtien p{
    margin-block: 10px;
}
.sotien{
    width: 60%;
    float: left;
}
.sotien p{
    margin-block: 10px;
}
.img-thanhtoan img{
    width: 18% ;
}

